<div id="button"> X </div>
<%= form_for @event do |e| %>
  <%= e.label :name, class: 'test' %>
  <%= e.text_field :name %><br>

  <%= e.label :description %>
  <%= e.text_field :description %><br>

  <%= e.submit %>
  <%end%>
